body{
    margin: 0px;
    background-color: antiquewhite;
}
.parallax{

    background: url("../images/bg.jpg");
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
	padding-top: 15%;
	color: white;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 18px 23px rgba(0,0,0,0.1);
}
.parallax h1{
    font-size: 5em;
    margin-top: 1%;
}
.parallax p{
    font-size: 1.3rem;;
}
.parallax2{
    margin-top: 100px;
    background: url("../images/slide04.jpg");
    height: 150px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
	padding-top: 10%;
	color: white;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 18px 23px rgba(0,0,0,0.1);
}
.gridContainer{
    display: grid;
    grid-template-columns: 50% 50% ; 
    margin: 5% 5%;
    text-align: center;
    
}
.gridContainer2{
    display: grid;
    grid-template-columns: 50% 50% ; 
    margin: 5% 5%;
    text-align: center;
    
}
.gridContainer div img{
    width: 550px;
    height: 250px;
    border: 3px solid white;
    vertical-align: middle;
}
.gridContainer2 div img{
    width: 550px;
    height: 300px;
    border: 3px solid white;
    margin-bottom: 10%;
}
.gridContainer div div{
    background-color: white;
    width: 550px;
    height: 250px;
    display: inline-block;
    border: 3px solid white;
}
.gridContainer div div p{
    margin: 5px 35px;
}
.btn{
    background: white;
    border: 1px solid rgb(87, 84, 84);
    font-size: 1.1rem;
    color: rgb(87, 84, 84);
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    transition: 0.3s;
}
button:hover{
    background-color: rgb(87, 84, 84);
    color:white;
    transition: 0.4s;
}
button:focus {
    outline:0;
}
nav{
    background: black;
    width: 100%;
    height: 100px;
    text-align: center;
    color: white;
    padding-top: 100px;
}
a{
    font-size: 1.5rem;
    padding: 8px;
    color: #b8afaf;
    transition: 0.4s;
}
a:hover{
    color: white;
}
#footer{
    margin-top: 40px;
    color: #b8afaf;
    font-size: 0.8rem;
}
hr{
	width: 200px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}